.Rproj.user
.Rhistory
.RData
.Ruserdata
.csv
.txt
Anforderungsdokument.html
Bestandteile_Fahrzeuge_OEM1_Typ11.csv
Bestandteile_Fahrzeuge_OEM1_Typ12.csv
Bestandteile_Fahrzeuge_OEM2_Typ21.csv
Bestandteile_Fahrzeuge_OEM2_Typ22.csv
Bestandteile_Komponente_K2LE1.csv
Bestandteile_Komponente_K2LE2.csv
Case_Study_Ledersitze_K2LE2.html
Einzelteil_T11.csv
Einzelteil_T14.csv
Einzelteil_T15.csv
Einzelteil_T16.csv
Einzelteil_T19.csv
Einzelteil_T20.csv
Fahrzeuge_OEM1_Typ11.csv
Fahrzeuge_OEM1_Typ12.csv
Fahrzeuge_OEM2_Typ21.csv
Fahrzeuge_OEM2_Typ22.csv
Geodaten_Gemeinden.csv
IDA_Gruppe4.Rproj
Komponente_K2LE1.csv
Komponente_K2LE2.csv
Komponente_K7.csv
Logistikverzug_K7.csv
Zulassungen_alle_Fahrzeuge.csv
